@import "_base.css";
@import "_colors.css";

.outer-grid {
  display: grid;
  grid-template-rows: [header-start] 100px [content-start] auto [footer-start] 80px;
  height: 100vh;
}

.header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.header img {
  height: 80px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 8px;
  background-color: var(--bg-color);
  padding: 1rem;
  overflow-y: scroll;
}

.info-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  background-color: var(--primary-color);
}

/* Card */
.card {
  background-color: var(--card-bg-color);
  box-shadow: 0 2.8px 2.2px #00000005, 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 1.25em 0.75em;
}

.card-title {
  text-decoration: underline;
}

.card-title::first-letter {
  color: red;
}

.interest-items {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.interest-items > li {
  border: 1px solid var(--interest-box-color-primary);
  background-color: var(--interest-box-color-primary);
  color: var(--interest-box-color-secondary);
  padding: 0.25em;
}

.interest-items > li:nth-child(even) {
  color: var(--interest-box-color-primary);
  background-color: var(--interest-box-color-secondary);
}
